# Fichiers générés par Flutter / Dart — ne pas versionner
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Fichiers Android générés
android/local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/
*.apk
*.aab

# Fichiers iOS générés
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/
*.ipa

# Fichiers Web générés
web/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
